alias py7-init="source ~/projects/python2/bin/activate"
alias activate="source ~/projects/python2/bin/activate"
alias chrome="google-chrome-stable &"
alias paur="pacaur -S"
alias pman="sudo pacman -S"
alias h="cat ~/.aliases"
alias pip="sudo pip"
alias pacman="sudo pacman"
alias google="google-chrome-stable &"
alias projects="cd ~/projects"
alias t="vim ~/.todo"
alias tar="tar -xvf"
alias wifi-menu="sudo wifi-menu"
alias cron="sudo crontab -e -u hydrius"
alias jobs="cd ~/Documents/JobsApplications/Applications"
alias pi="ssh rpi"
alias tve="source ~/projects/Tamara/bin/activate"
alias tam="~/projects/Tamara/Tamara"
alias vpn="sudo systemctl restart openvpn-server@Sydney.service"
